.group {
    position: relative;
    margin-bottom: 45px;
    margin-top: 50px;
}

input {
    font-size: 18px;
    padding: 50px 10px 10 px 5px;
    display: block;
    width: 300px;
    border: none;
    border-bottom: 1px solid #757575;
}

label {
    color: #999;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 3px;
    top: 25px;
}